@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

/* ---------------------------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Afacad', sans-serif;
    scroll-behavior: smooth;
}

/* navbar start */

#nav-link {
    margin-left: 1rem;
}

#nav-logo {
    width: 100%;
    height: 80px;
}

nav {
    background-color: #8ADAB2;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -4;
}

nav ul {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
}

nav ul li {
    list-style: none;
    position: relative;
    padding-bottom: 3px;
}

nav ul a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    font-family: 'Alice', serif;
}

nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #0802A3;
    transition: width 0.3s ease;
}

nav ul li :hover {
    color: #0802A3;
}

nav ul li:hover::after {
    width: 100%;
}

/* navbar end  */

/* hero start */

#hero {
    height: 523px;
    color: white;
    background-color: rgba(16, 16, 16, 0.60);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#hero::after {
    content: " ";
    position: absolute;
    background-image: url('Hotelscout/img/hero-img.jpg');
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    z-index: -2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#hero-h1 {
    font-family: 'Alice', serif;
    font-size: 54px;
    padding-top: 350px;
    padding-left: 90px;
}

#hero-subsection {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.hero-fields {
    display: flex;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    padding: 0px 0px 0px 10px;
    border: 3px solid #8adab2c6;
}

.hero-fields img {
    width: 24px;
    margin-right: 5px;
    position: relative;
}

.hero-fields form input {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding-left: 15px;
    font-size: 16px;
    font-family: 'Alice', serif;
    background-color: #ffffff00;
}

.hero-fields form input::placeholder {
    color: black;
    opacity: 1;
}

.hero-fields form input:focus {
    outline: none;
}


.hero-fields:focus-within {
    border: 3px solid #0802A3;
    box-shadow: rgb(38, 57, 77) 0px 0px 25px 10px;
}

input[type="submit"] {
    background-color: #8ADAB2;
    padding: 0px 25px;
    font-size: 18px;
    border-radius: 50px;
    border: 3px solid transparent;
    box-shadow: none;
    transition: 0.3s all ease-out;
    font-family: 'Alice', serif;
}

input[type="submit"]:hover {
    border: 3px solid #0802A3;
    color: #0802A3;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 0px 30px 10px;
}

input[type="submit"]:active {
    background-color: white;
    box-shadow: rgb(255, 255, 255) 0px 0px 30px 10px;
    border: 3px solid #000;
    color: #000;
}

.hero-fields form h4 {
    color: black;
    display: inline-block;
    margin-right: 15px;
    font-weight: lighter;
    font-family: 'Alice', serif;
}

input[type="number"] {
    width: 25px !important;
    font-size: 20px !important;
    margin-left: 10px !important;
    padding: 0px !important;
}

input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* hero end */

/* locations start */

#locations h1 {
    font-family: 'Alice', serif;
    padding: 30px 0px 25px 15px;
    font-size: 32px;
}

#location-subsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.location-cards {
    width: 290px;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.location-cards img {
    height: 290px;
    border-radius: 15px;
}

.card-content {
    margin: 15px 13px;
    line-height: 1.5rem;
    font-family: 'Alice', serif;
}

.card-content h3 {
    font-family: 'Alice', serif;
}

.card-content p {
    font-size: 14px;
    color: red;
}

/* location end */

/* reviews start */

#reviews h1 {
    font-family: 'Alice', serif;
    padding: 30px 0px 25px 15px;
    font-size: 32px;
}

#reviews-subsection {
    display: flex;
    flex-direction: column;
}

#reviews-subsection span {
    margin: 10px 20px;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 15px;
}

#reviews button {
    border: 3px solid #0802A3;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 50px;
    box-shadow: none;
    transition: 0.3s all ease-out;
}

#reviews button a {
    text-decoration: none;
    color: #0802A3;
}

#reviews button:hover {
    cursor: pointer;
    background-color: #0802A3;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

#reviews button:hover a {
    color: white;
}

/* reviews end */

/* footer start */

#footer {
    background-color: #1f1f1f;
    color: white;
    padding: 25px;
    text-align: center;
}

#footer a {
    color: blueviolet;
}

/* footer end */

/* end of homepage */

/* start of contact page */

/* contact start */

#contact::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('Hotelscout/img/contact-cover.jpg');
    background-size: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#contact-subsection {
    height: 523px;
    background-color: rgba(16, 16, 16, 0.75);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#contact-subsection h1 {
    color: white;
    font-family: 'Alice', serif;
    font-size: 54px;
    padding-top: 350px;
    padding-left: 90px;
}

#contact-subsection p {
    color: white;
    font-size: 34px;
    padding-left: 90px;
}

fieldset {
    padding: 30px 15px 25px 15px;
    margin: 25px 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#contact-form {
    display: inline-block;
    margin: 50px 0px;
}

#contact-form h3 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 5px;
    font-family: "Alice", serif;
}

#contact-form input,
textarea {
    padding: 12px;
    width: 500px;
    border: 1.5px solid black;
    font-size: 20px;
    border-radius: 25px;
}

fieldset input[type="submit"]:hover {
    border-color: #0802A3 !important;
}

/* contact end */

/* about start */

#about::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('Hotelscout/img/about-cover.jpg');
    background-size: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#about-subsection {
    height: 523px;
    background-color: rgba(16, 16, 16, 0.75);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#about-subsection h1 {
    color: white;
    font-family: 'Alice', serif;
    font-size: 54px;
    padding-top: 350px;
    padding-left: 90px;
}

#about-subsection p {
    color: white;
    font-size: 34px;
    padding-left: 90px;
}

#about-description {
    border: 1px solid grey;
    padding: 30px 15px 25px 15px;
    margin: 25px 20px;
    line-height: 1.5;
    border-radius: 15px;
}

#about-description h3 {
    font-size: 24px;
    font-family: "Alice", serif;
}

#about-description h4 {
    font-size: 18px;
    font-family: "Alice", serif;
}

#about-description ol {
    padding-left: 15px;
}

#about-description p {
    margin-bottom: 12px;
    font-size: 18px;
}

/* about end */

/* project end */